<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title> Text Stats</title>
</head>

<body>
    <div id="file">
        <input type="file" id="fileToUpload" accept="application/pdf"/>
    </div>
    <div id="info">
        <p id=time></p>
        <p id="pageStats"></p>
    </div>

    <script src="{{ url_for('static', filename='pdfjs-1.9.426-dist/build/pdf.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>
        // hide the info section before pdf file uploaded
        let info = document.getElementById("info");

        if (info.style.display === "none") {
            info.style.display = "block";
        } else {
            info.style.display = "none";
        }

        var pdfURL = "{{ url_for('static', filename='driver-full.pdf') }}";
        PDFJS.workerSrc = "{{ url_for('static', filename='pdfjs-1.9.426-dist/build/pdf.worker.js') }}";

        function getPageText(pageNum, PDFDocumentInstance) {
            // Return a Promise that is solved once the text of the page is retrieven
            return new Promise(function (resolve, reject) {
                PDFDocumentInstance.getPage(pageNum).then(function (pdfPage) {

                    pdfPage.getTextContent().then(function (textContent) {
                        let textItems = textContent.items;
                        let pageBlocks = [];

                        for (let i = 0; i < textItems.length-2; i++) {
                            let item = textItems[i];
                            let info = {};
                            info.str = item.str;
                            info.fontSize = item.height;
                            info.length = info.str.length;
                            info.x = item.transform[4];
                            info.y = item.transform[5];
                            info.spacing = info.y - textItems[i+1].transform[5];
                            pageBlocks.push(info);
                        }
                        let last = textItems[textItems.length-1];
                        let info = {};
                        info.str = last.str;
                        info.fontSize = last.height;
                        info.length = last.str.length;
                        info.x = last.transform[4];
                        info.y = last.transform[5];
                        info.spacing = 0;
                        pageBlocks.push(info);

                        // Solve promise with the text retrieven from the page
                        resolve(pageBlocks);
                    });
                });
            });
        }
        // When user chooses a PDF file
        $("#fileToUpload").on('change', function () {
            $("#info").show();

            // Send the object url of the pdf
            // get pdf document
            let pdfURL = URL.createObjectURL($("#fileToUpload").get(0).files[0]);
            PDFJS.getDocument(pdfURL).then(function (pdf) {
                let pdfDocument = pdf;
                let pagesPromises = [];
                const numPages = pdf.pdfInfo.numPages;
                const pagesRange = numPages < 15 ? numPages : 15;

                
                for (let i = 0; i < pagesRange; i++) {
                    // to prevent that i is always the total of pages
                    (function (pageNumber) {
                        pagesPromises.push(getPageText(pageNumber, pdfDocument));
                    })(i + 1);
                }

                Promise.all(pagesPromises).then(function (pagesText) {
                    $.ajax({
                        url: '/compute-text-stats/',
                        contentType: 'application/json; charset=utf-8',
                        type: 'POST',
                        data: JSON.stringify(pagesText),
                        dataType: 'json',
                        success: function (data) {
                            console.log("success");
                            
                            let time = data["time"];
                            document.getElementById("time").innerHTML = "<p> Execution Time: " + time + " seconds</p>";
                            data = data["pdf"];
                            
                            // display page info
                            let info = "";
                            for (let i=0; i<data.length; i++) {
                                let page = data[i];
                                // display text info
                                info += "<h2 style='color:#808F7C'> Page " + i + "</h2>"
                                let textsInfo = "";
                                for (let i = 0; i < page.length; i++) {
                                    let textInfo = "<p style='color:#00AA90'>" + "Text: " + JSON.stringify(page[i]["str"]) + "</p>" + 
                                    "<p>" + "font size: " + JSON.stringify(page[i]["fontSize"]) + 
                                    ", length: " + JSON.stringify(page[i]["length"]) +
                                    ", x: " + JSON.stringify(page[i]["x"]) +
                                    ", y: " + JSON.stringify(page[i]["y"]) +
                                    ", spacing: " + JSON.stringify(page[i]["spacing"]) +
                                    ", ratio: " + JSON.stringify(page[i]["ratio"]) +
                                    "</p>";
                                    textsInfo += textInfo;
                                }
                                info += textsInfo;
                            }

                            document.getElementById("pageStats").innerHTML = info;
                            
                        },
                        error: function (xhr, type) {
                            console.log("failed");
                        }
                    });
                });

            }, function (reason) {
                // PDF loading error
                console.error(reason);
            });
        });

    </script>

</body>

</html>