<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title> Text Info</title>
</head>

<body>
    <h1>PDF Text Info</h1>
    <h2>Document Info</h2>
    <p>document word count: </p>
    <p id="docWordCount"></p>
    <p>document line count: </p>
    <p id="docLineCount"></p>
    <p>document mode font size: </p>
    <p id="docModeFontSize"></p>
    <p>document max font size: </p>
    <p id="docMaxFontSize"></p>
    <p>document min font size: </p>
    <p id="docMinFontSize"></p>
    <p>document font size stats: </p>
    <p id="docFontSizeStats"></p>

    <!--<p id="text"></p>-->

    <script src="{{ url_for('static', filename='pdfjs-1.9.426-dist/build/pdf.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>
        var pdfURL = "{{ url_for('static', filename='driver-full.pdf') }}";
        PDFJS.workerSrc = "{{ url_for('static', filename='pdfjs-1.9.426-dist/build/pdf.worker.js') }}";

        // get pdf document
        PDFJS.getDocument(pdfURL).then(function (pdf) {
            let pdfDocument = pdf;
            let pagesPromises = [];
            const numPages = pdf.pdfInfo.numPages;
            const pagesRange = numPages < 15 ? numPages : 15;

            // pdf.pdfInfo.numPages
            for (let i = 0; i < pagesRange; i++) {
                // to prevent that i is always the total of pages
                (function (pageNumber) {
                    pagesPromises.push(getPageText(pageNumber, pdfDocument));
                })(i + 1);
            }

            Promise.all(pagesPromises).then(function (pagesText) {
                $.ajax({
                    url: '/compute-text-stats/',
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    data: JSON.stringify(pagesText),
                    dataType: 'json',
                    success: function (data) {
                        console.log("success");           
                        document.getElementById("docWordCount").innerHTML = JSON.stringify(data["docWordCount"]);
                        document.getElementById("docLineCount").innerHTML = JSON.stringify(data["docLineCount"]);
                        document.getElementById("docModeFontSize").innerHTML = JSON.stringify(data["docFontSizeStats"]["modeFontSize"]);
                        document.getElementById("docMaxFontSize").innerHTML = JSON.stringify(data["docFontSizeStats"]["maxFontSize"]);
                        document.getElementById("docMinFontSize").innerHTML = JSON.stringify(data["docFontSizeStats"]["minFontSize"]);

                        let fontSizeInfo = "<ul>";
                        for (let key in data["docFontSizeStats"]["fontSizes"]){
                            let fontSize = data["docFontSizeStats"]["fontSizes"][key];
                            let info = "<li>"+ "size: " + JSON.stringify(fontSize["size"]) + ", count: " + JSON.stringify(fontSize["count"]) + 
                            ", frequency: " + JSON.stringify(fontSize["frequency"]) + ", deviation from mode: " + JSON.stringify(fontSize["deviationFromMode"]) + "</li>";
                            fontSizeInfo += info;
                        }
                        fontSizeInfo += "</ul>"
                        document.getElementById("docFontSizeStats").innerHTML = fontSizeInfo;
                    },
                    error: function (xhr, type) {
                        console.log("failed");
                    }
                });
            });

        }, function (reason) {
            // PDF loading error
            console.error(reason);
        });

        function getPageText(pageNum, PDFDocumentInstance) {
            // Return a Promise that is solved once the text of the page is retrieven
            return new Promise(function (resolve, reject) {
                PDFDocumentInstance.getPage(pageNum).then(function (pdfPage) {

                    pdfPage.getTextContent().then(function (textContent) {
                        let textItems = textContent.items;
                        let pageBlocks = [];

                        for (var i = 0; i < textItems.length; i++) {
                            var item = textItems[i];
                            let info = {};
                            info.str = item.str;
                            info.size = item.height;
                            pageBlocks.push(info);
                        }
                        // Solve promise with the text retrieven from the page
                        resolve(pageBlocks);
                    });
                });
            });
        }
    </script>

</body>

</html>